
/* Atributos que afetam a página inteira*/
body {
  width: 98%;
  margin-left: 1%;
  margin-bottom: 1%;
}

h1 {
    color: blue;
    text-align: center;
  }

  /* Add a black background color to the top navigation */
  .nav_bar {
    overflow: hidden;
    background-color: #333;
  }

  .nav_bar a {
    float: left;
    font-size: large;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: large;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .nav_bar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* Change the color of links on hover */
.nav_bar a:hover, .dropdown0:hover .dropbtn1 {
  box-shadow: inset 2000px 0 0 0 rgb(184, 184, 184);
  text-decoration-color: green;
}

/* Add a color to the active/current link */
.nav_bar a.active {
  background-color: #04AA6D;
  color: white;
  
}

.double_column {
  width: 42%;
  
  background-color: #0c6886;
  float: left;
  margin: 2%; 
  text-align: center;
  padding: 2%;

}

.double_column a {
  text-decoration: none;
  font-size: large;
  color: black;
}

.double_column img {
  margin-top: 1%;
  width: 100%;
}

.newsfeed {
  width: 96%;
  margin: 2%; 
  overflow: hidden;
  float: center;
  background-color: #065670;
}

.newsfeed_column{
  width: 25%;
  height: 300px;
  float: left;
  margin-left: 3%;  
  background-color: #cecece;
  text-align: left;
  padding: 2%;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #272727;
  color: white;
  text-align: center;
}

/* CSS do POPUP para alterar vaga */

/*{box-sizing: border-box;}*/

/* Button used to open the contact form - fixed at the bottom of the page 
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
} 
*/

/* The popup form - hidden by default */
.alterar_popup {
  display: none;
  border: 3px solid #f1f1f1;
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 40%;
}

/* Add styles to the form container */
.alterar_cont {
  max-width: 300px;
  padding: 10px;
  background-color: rgb(255, 4, 4);
}

/* Set a style for the submit/login button */
.alterar_cont .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}